<template>
    <div>
        <el-form ref="form" :model="form" :rules="rules" label-width="150px">

            <el-form-item label="회원ID" style="width: 300px; margin-bottom: 10px;" prop="memberName">
                <el-input v-model.number="form.id" autocomplete="off"   style=" margin-bottom: 10px;"></el-input>
            </el-form-item>

            <el-form-item label="운동명" style="width: 300px; margin-bottom: 10px;"  prop="exerciseName">
                <el-input v-model="form.exerciseName" style="margin-bottom: 10px;"></el-input>
            </el-form-item>

            <el-form-item label="운동부위" style="width: 300px;" prop="exercisePart">
                <el-select v-model="form.exercisePart" placeholder="운동 부위를 선택하세요" style="margin-bottom: 10px;">
                    <el-option label="상체" value="CHEST"></el-option>
                    <el-option label="등" value="BACK"></el-option>
                    <el-option label="하체" value="LEG"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="운동 중량 (kg)" style="width: 300px; margin-bottom: 10px;" prop="weight">
                <el-input v-model.number="form.weight" autocomplete="off"   style=" margin-bottom: 10px;"></el-input>
            </el-form-item>

            <el-form-item label="운동 시간" style="width: 300px; margin-bottom: 10px;" prop="dateReserveHour">
                <el-input v-model.number="form.dateReserveHour" autocomplete="off"   style=" margin-bottom: 10px;"></el-input>
            </el-form-item>

            <el-form-item label="운동 분" style="width: 300px; margin-bottom: 10px;" prop="dateReserveMinuit">
                <el-input v-model.number="form.dateReserveMinuit" autocomplete="off"   style=" margin-bottom: 10px;"></el-input>
            </el-form-item>


            <el-form-item label="운동 세트"  style="width: 300px;"  prop="exerciseSet">
                <el-input v-model.number="form.exerciseSet" autocomplete="off" style=" margin-bottom: 10px;"></el-input>
            </el-form-item>

            <el-form-item label="세트당 운동 횟수"  style="width: 300px;"  prop="countExercise">
                <el-input v-model.number="form.countExercise" autocomplete="off" style=" margin-bottom: 10px;"></el-input>
            </el-form-item>

            <el-form-item label="운동 날짜"  style="width: 300px;"  prop="exerciseDate" >
                <el-input v-model="form.exerciseDate"  placeholder="YYYY-MM-DD" autocomplete="off" style=" margin-bottom: 10px;"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="onSubmit">등록하기</el-button>
            </el-form-item>

        </el-form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                exerciseName: '',
                exercisePart: '',
                exerciseSet: '',
                countExercise: '',
                weight: '',
                exerciseDate:'',
                dateReserveHour:'',
                dateReserveMinuit:'',

            },
            rules: {
                exerciseName: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:2, max:10, message:'2~10자 내로 입력해주세요.', trigger: 'blur'}
                ],
                exercisePart: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                exerciseSet: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
                weight: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    {type:'number', message: '숫자로 기입해주세요', trigger: 'blur'}
                ],
                exerciseDate: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { message: 'YYYY-MM-DD 양식에 맞추어 기입해주세요', trigger: 'blur'}
                ],
                countExercise: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    {type:'number', message: '숫자로 기입해주세요', trigger: 'blur'}
                ],

            }
        }
    },
    methods: {
        onSubmit() {
            let formName = 'form' // ref의 이름
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                id : this.form.id,
                data: {
                    exerciseName: this.form.exerciseName,
                    exercisePart: this.form.exercisePart,
                    exerciseSet: Number(this.form.exerciseSet),
                    weight: Number(this.form.weight),
                    countExercise: Number(this.form.countExercise),
                    exerciseDate:this.form.exerciseDate,
                    dateReserveHour:this.form.dateReserveHour,
                    dateReserveMinuit:this.form.dateReserveMinuit,

                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$exerciseConstants.DO_CREATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/exercise/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
}
</script>
