<template>
    <div>
        <el-button type="success" circle @click.native="moveCreate()">등록</el-button>
        <el-table :data="list">

            <el-table-column
                prop="id"
                label="id"
                width="100"
            >
            </el-table-column>
            <el-table-column
                prop="memberName"
                label="회원명"
                width="180">
            </el-table-column>

            <el-table-column
                prop="memberPhoneNum"
                label="회원연락처"
                width="200">
            </el-table-column>

            <el-table-column
                prop="exercisePart"
                label="운동부위"
                width="100">
            </el-table-column>

            <el-table-column
                prop="exerciseName"
                label="운동 이름"
                width="100">
            </el-table-column>

            <el-table-column
                prop="weightAndCountExercise"
                label="중량 및 횟수"
                width="100">
            </el-table-column>

            <el-table-column
                prop="exerciseDate"
                label="날짜"
                width="150">
            </el-table-column>

            <el-table-column
                prop="totalExerciseTime"
                label="운동시간"
                width="150">
            </el-table-column>

            <el-table-column
                label="Operations"
                width="250">
                <template slot-scope="scope">
                    <el-button @click="moveDetail" type="text" size="small" >상세보기</el-button>
                    <el-button @click="moveEdit" type="text" size="small">수정</el-button>
                    <el-button type="danger" icon="el-icon-delete" circle @click.native="delData(scope.row.id)"></el-button>
                </template>
            </el-table-column>

        </el-table>

    </div>
</template>
<script>
export default {
    data() {
        return {
            list : [
            ]
        }
    },

    methods: {
        getList() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$exerciseConstants.DO_LIST)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        delData(id) {
            if (confirm('정말 삭제하시겠습니까?')) { // javascript confirm 검색하기
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$exerciseConstants.DO_DELETE, {id: id})
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.getList()
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },


        moveCreate() {
            this.$router.push(`/exercise/form`)
        },
        moveDetail(id) {
            let linkBaseUrl = '/exercise/detail/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
        moveEdit(id) {
            let linkBaseUrl = '/exercise/edit/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },


    },
    //methods --end
    created() {
        this.getList()
    },

}
</script>
